<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NextlizContext" connectionString="Data Source=LAPTOP-SFJI4BIP;Initial Catalog = nextfliz; Integrated Security = True; Connect Timeout = 30; Encrypt=True;Trust Server Certificate=True;Application Intent = ReadWrite; Multi Subnet Failover=False" />
		<add name="NextlizContext-phat" connectionString="Data Source=NTP7525;Initial Catalog = nextfliz; Integrated Security = True; Connect Timeout = 30; Encrypt=True;Trust Server Certificate=True;Application Intent = ReadWrite; Multi Subnet Failover=False" />
	</connectionStrings>
</configuration>